:root {
    --brown: #555759;
    --light-gray: #f6f6f6;
    --green: #91f1ba;
    /* --turquoise: #6fdaf3; */
    --pink: #c85e7a;
}

body {
    margin: 2rem;
    box-sizing: border-box;
    text-align: center;
    user-select: none;
}

main {
    display: inline-block;
    background-color: var(--light-gray);
    color: var(--brown);
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 1.2rem;
    padding: 2rem;
    border-radius: .5rem;
}

/********** TITLE **********/
h1 {
    text-align: right;
    color: var(--green);
    font-size: 5rem;
    margin: 0 2rem -2.5rem 0;

    text-shadow:
        .2rem .2rem 0 var(--brown),
        .2rem -.1rem 0 var(--brown),
        -.1rem .2rem 0 var(--brown),
        -.2rem -.2rem 0 var(--brown);
}

/********** OPEN ADDER BUTTON **********/
#openAdder {
    position: relative;
    cursor: pointer;
    animation-name: openAdderAnimation;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes openAdderAnimation {
    0% { top: 0px; } 
    50% { top: -3px; }
    100% { top: 0px; }
}

/********** ADDER SECTION **********/
#adder {
    border-radius: .5rem;
    margin-bottom: 2.5rem;
}

textarea {
    margin: 0;
    background-color: var(--light-gray);
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    box-sizing: border-box;
    width: 100%;
    font-size: .8rem;
    resize: none;
    border: .01rem solid var(--brown);
    outline: none;
}

#addButton {
    background-color: var(--brown);
    float: right;
    color: var(--light-gray);
    padding: 0 .6rem 0 .6rem;
    cursor: pointer;
}
#addButton {
    float: right;
}
#addButton:hover {
    background-color: var(--pink);
}
#response {
    float: left;
}

/* OTHER SHIT */
h2 {
    text-align: left;
    font-size: 2.2rem;
    margin: 1rem 0 -.6rem 2rem;
}

table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

td {
    border: .01rem solid var(--brown);
    padding: .2rem 1rem .2rem 1rem;
    border-left: none;
    border-right: none;
}

#wr {
    transition: background-color 1s;
}

#wr:hover {
    background-color: var(--green);
}

.column_name {
    background-color: var(--pink);
    color: var(--light-gray);
}

#date, #distance, #duration, #elevation, #pace, #hr {
    cursor: pointer;
    transition: color 1s;
}

#date:hover, #distance:hover, #duration:hover, #elevation:hover, #pace:hover, #hr:hover {
    color: var(--green);
}