:root {
    --brown: #555759;
    --light-gray: #f6f6f6;
    --turquoise: #6fdaf3;
    --pink: #c85e7a;
}

body {
    margin: 2rem;
    box-sizing: border-box;
    text-align: center;
}

main {
    display: inline-block;
    background-color: var(--light-gray);
    color: var(--brown);
    /* font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: 1.2rem;
    padding: 2rem;
    border-radius: .5rem;
}

h1 {
    text-align: right;
    color: var(--turquoise);
    font-size: 5rem;
    margin: 0 2rem -2.5rem 0;

    text-shadow:
        .2rem .2rem 0 var(--brown),
        .2rem -.1rem 0 var(--brown),
        -.1rem .2rem 0 var(--brown),
        -.2rem -.2rem 0 var(--brown);
}

h2 {
    text-align: left;
    font-size: 2.2rem;
    margin: 1rem 0 -.6rem 2rem;
}

table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

td {
    border: .01rem solid var(--brown);
    padding: .2rem 1rem .2rem 1rem;
}

.column_name {
    background-color: var(--pink);
    color: var(--light-gray);
}

#date, #distance, #duration, #elevation, #pace, #hr {
    cursor: pointer;
}