{{ template "header.html" . }}

    <div id="box">

        <!-- HEADER -->
        <div id="header">
        <span id="app_name">trails</span>
        </div>

        <!-- TOTALS -->
        <div class="section">total</div>

        <div class="stat"> 
            <div>days</div>
            <div class="stat_val">{{ .Total.Days }}</div>
        </div>
        <div class="stat">
            <div>workouts</div>
            <div class="stat_val">{{ .Total.Workouts }}</div>
        </div>
        <div class="stat">
            <div>streak</div>
            <div class="stat_val">{{ .Total.Streak }}</div>
        </div>
        <div class="stat">
            <div>distance</div>
            <div class="stat_val">{{ .Total.Distance }}km</div>
        </div>
        <div class="stat">
            <div>duration</div>
            <div class="stat_val">{{ .Total.Duration }}</div>
        </div>
        <div class="stat">
            <div>elevation</div>
            <div class="stat_val">{{ .Total.Elevation }}m</div>
        </div>

        <br>

        <!-- BEST WORKOUT -->
        <div class="section">best workout</div>

        {{ range .Best }} 

            <div class="stat">
                <div>date</div>
                <div class="stat_val">{{ .Date }}</div>
            </div>
            <div class="stat">
                <div>distance</div>
                <div class="stat_val">{{ .Distance }}km</div>
            </div>
            <div class="stat">
                <div>duration</div>
                <div class="stat_val">{{ .Duration }}</div>
            </div>
            <div class="stat">
                <div>elevation</div>
                <div class="stat_val">{{ .Elevation }}m</div>
            </div>
            <div class="stat">
                <div>avg pace</div>
                <div class="stat_val">{{ .AvgPace }}</div>
            </div>
            <div class="stat">
                <div>avg hr</div>
                <div class="stat_val">{{ .AvgHR }}</div>
            </div>

            <br>
            
        {{ end }}

        <!-- WORKOUTS -->
        <div class="section">workouts</div>

        {{ range .Workouts }} 

            <div class="stat">
                <div>date</div>
                <div class="stat_val">{{ .Date }}</div>
            </div>
            <div class="stat">
                <div>distance</div>
                <div class="stat_val">{{ .Distance }}km</div>
            </div>
            <div class="stat">
                <div>duration</div>
                <div class="stat_val">{{ .Duration }}</div>
            </div>
            <div class="stat">
                <div>elevation</div>
                <div class="stat_val">{{ .Elevation }}m</div>
            </div>
            <div class="stat">
                <div>avg pace</div>
                <div class="stat_val">{{ .AvgPace }}</div>
            </div>
            <div class="stat">
                <div>avg hr</div>
                <div class="stat_val">{{ .AvgHR }}</div>
            </div>

            <br>
            
        {{ end }}

    </div>

</body>
</html>